

.container8{
    width: 1000px;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.container8 .card8{
    position: relative;
    cursor: pointer;
}

.container8 .card8 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container8 .card8 .face.face1{
    position: relative;
    background: rgb(40, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container8 .card8:hover .face.face1{
    background: #1f1e1e;
    transform: translateY(0);
}

.container8 .card8 .face.face1 .content{
    opacity: 0.8;
    transition: 0.5s;
}

.container8 .card8:hover .face.face1 .content{
    opacity: 1;
}

.container8 .card8 .face.face1 .content img{
    max-width: 100px;
}

.container8 .card8 .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: rgb(28, 26, 26);
    text-align: center;
    font-size: 1.5em;
}

.container8 .card8 .face.face2{
    position: relative;
    background: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container8 .card8:hover .face.face2{
    transform: translateY(0);
}

.container8 .card8 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container8 .card8 .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container8 .card8 .face.face2 .content a:hover{
    background: #333;
    color: rgb(32, 31, 31);
}