@import url('https://fonts.googleapis.com/css?family=Exo:400,700');






.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}




.area{
    background: #1b1b1d;  
    background: -webkit-linear-gradient(to left, #d9dae2, #181819);  
    width: 100%;
    
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 7s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 3s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}


.circles li:nth-child(12){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
    animation-duration: 12s;
}

.circles li:nth-child(13){
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 5s;
}

.circles li:nth-child(14){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
}

.circles li:nth-child(16){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(17){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.circles li:nth-child(18){
    left: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(20){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-10000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}