
.slick-slider {
    
    padding-left: 120px;
    padding-right: 120px;
  }
  
  .slick-prev {
    z-index: 1;
    background-color: red !important;
  }
  .slick-next {
    z-index: 1;
    background-color: red !important;
  }
  
  .slick-dots li button:before {
    color: rgb(179, 178, 178) !important;
    font-size: 10px !important;
    margin-top: 10px;
  }
  .slick-dots button {
    background-color: blue !important;
  }
  
  .slick-dots li.slick-active button:before {
    color: white !important;
    font-size: 12px !important;
  }

  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .aqua-gradient {
    background: linear-gradient(40deg, rgb(41, 40, 40), rgb(35, 35, 35)) !important;
  }
  
  .testimonial-card .avatar {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }