$yellow:#30302c;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		-o-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		-o-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

@mixin transition($transition) {
	-moz-transition:    all $transition ease;
	-o-transition:      all $transition ease;
	-webkit-transition: all $transition ease;
	-ms-transition: 	all $transition ease;
	transition:         all $transition ease;
}

.paddding {
	padding-left: 0!important;
	padding-right: 0!important;
}


// Header

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
	color: #fff!important;
	padding-top: 4px!important;
	padding-bottom: 4px!important;
	padding-left: 20px!important;
	padding-right: 20px!important;
	margin: 0 20px!important;
	@include transition(0.5s);
	background: $yellow!important;
	//@include clip-path(polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0));
}
.navbar-light .navbar-nav .nav-link {
	color: #222!important;
	padding-top: 4px!important;
	padding-bottom: 4px!important;
	padding-left: 20px!important;
	padding-right: 20px!important;
	margin: 0 20px!important;
	@include transition(0.5s);
	position: relative!important;
	//@include clip-path(polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0));

	&:focus, &:hover {
		background: $yellow!important;
		color: #fff!important;
		padding-top: 5px!important;
		padding-bottom: 5px!important;
		padding-left: 20px!important;
		padding-right: 20px!important;
		margin: 0 20px;
		position: relative;
	}
}

.bg-faded {
    background-color: #f7f7f7;
  }

.mobile_logo_width {
	display: none;
}

.navbar-nav {
 flex-direction: row !important;
 cursor: pointer;   
}



// form
.heading {
    font-size: 20px;
	color: #424040;
    font-weight: 600;
}

.input-text-box {
    @include border-radius(0!important);
	font-size: 15px!important;
	height: 45px!important;
	letter-spacing: 1px!important;  
}

.form-control:focus {
    box-shadow: none !important;
    border-color: $yellow !important;
}

.btn-sign-in {
    background: #c43421!important;
    @include border-radius(0!important);
	color: #fff!important;
	padding: 10px 50px!important;
    border-radius: 5px !important;
}

.btn-sign-up {
    background: #4287f5!important;
    @include border-radius(0!important);
	color: #fff!important;
	padding: 10px 50px!important;
    border-radius: 5px !important;
}